.card{
    width: 400px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 400px; 
    margin: 0 auto;
}


.card-header {
    height: 10%;
}

.tasks-container { 
    display: flex;
    flex-direction: column; 
    height: 80%;
    overflow-y: auto; 
    border-radius: 5px;
}

