.footer{
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer span{
    font-weight: bold;
    margin-right: 5px;
}

.footer button{
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    font-size: 18px;

}